* text=auto eol=lf

*.ps1 text eol=crlf linguist-language=PowerShell
*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary

gradle/gradlew linguist-vendored=true
gradle/gradlew.bat linguist-vendored=true
gradle/gradle/wrapper/** linguist-vendored=true
